.navbar {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  position: relative;
}



.nav-link::after{
  content: "";
  position: absolute;
  height: 2px;
  width:100%;
  bottom: 0;
  left: 0;  
  background-color:#535bf2;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out ;
  
}
.nav-link:hover::after{
      transform: scaleX(1);
}




.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-links {
    gap: 0.1rem;
  }

  .nav-link {
    padding: 0.2rem;
  }
}